.envelope-list {
	tbody {
		tr:hover {
			cursor: pointer;
		}
	}
}

.envelope-table {
	.roll-number:hover {
		cursor: pointer;
	}
}

.envelope-current-number {
	margin-top: 5.5rem;
	margin-bottom: 0.5rem;
}
