.modal {
	&:nth-of-type(even) {
		z-index: 1052 !important;
	}
}

.modal-backdrop {
	&.show {
		&:nth-of-type(even) {
			z-index: 1050 !important;
		}
	}
}

.close {
	color: #808080;
	text-shadow: none;

	&:hover {
		color: #fff;
	}
}

.table-dark {
	--bs-table-bg: transparent;
}
